@import '../utils/vars';
@import '../utils/borders-styles';
@import '../utils/transition-style';

.btn-blue {
    width: 200px;
    height: 50px;
    background: getColor('global-blue');
    border: none;
    border-radius: getBr('br-thick');
    box-shadow: getBs('bs-thick-black');
    color: getColor('pure-white');
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    &--modal-submit {
        margin: 74px 124px;
    }

    &--newsletter-submit {
        padding: 10px 75px 10px 42px;
    }

    &--active:hover,
    &--active:focus {
        background: getColor('global-blue-transparent');
        transition: getAnimation('global-theme');
        cursor: pointer;
    }
}
