@import '../utils/display-types';

// MIN-VIEW-PORT
@media (min-width: $min-view) {
    .container {
        // position: relative;
        margin: 0 auto;
        max-width: 480px;
    }
}

// MOBILE-VIEW
@media (min-width: $mobile) {
    .container {
        // position: relative;
        margin: 0 auto;
        max-width: 480px;

        &--mobile-display {
            max-width: 100vw;
        }

        &--footer-contact {
            margin: 0;
        }
    }
}

// TABLET-VIEW
@media (min-width: $tablet) {
    .container {
        margin: 0 auto;
        max-width: 768px;
    }
}

// DESKOP-VIEW
@media (min-width: $deskop) {
    .container {
        margin: 0 auto;
        max-width: 1200px;
    }
}