@import '../utils/vars';
@import '../utils/transition-style';
@import '../utils/mixins';
@import '../utils/display-types';

// MIN-VIEW-PORT
// MOBILE-VIEW
// TABLET-VIEW
@media (min-width: $min-view) {
    .footer-contact {

        &__wrapper {
            margin-top: 20px;
            margin-bottom: 60px;
            font-style: normal;
            text-align: center;  
        }

        &__list {
            list-style-type: none;
        }

        &__item {
            margin-top: 8px;
        }

        &__link {
            text-decoration: none;

            &--city {
                color: getColor('pure-white');
            }

            &--contact {
                color: getColor('chill-grey');
            }

            &--active:hover,
            &--active:focus {
                @include link-active;
            }
        }
    }
}

// DESKOP-VIEW
@media (min-width: $deskop) {
    .footer-contact {

        &__wrapper { 
            text-align: left;  
        }

        &__item {
            margin-top: 9px;

            &--city {
                margin-top: 20px;
            }
        }
    }
}