@import '../utils/vars';
@import '../utils/fonts';

* img {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $primaryFont;
    background-color: getColor('pure-white');
    margin: 0 auto;
    width: 1600px;
}