@import '../utils/vars';
@import '../utils/fonts';
@import '../utils/display-types';

* img {
    display: block;
    max-width: 100%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
}

// MOBILE-VIEW
@media (min-width: $min-view) {
    body {
        font-family: $primaryFont;
        background-color: getColor('pure-white');
        margin: 0 auto;
        min-width: 320px;
    }
}



// TABLET-VIEW
@media (min-width: $tablet) {
    body {
        font-family: $primaryFont;
        background-color: getColor('pure-white');
        margin: 0 auto;
        min-width: 768px;
    }
}

// DESKOP-VIEW
@media (min-width: $deskop) {
    body {
        font-family: $primaryFont;
        background-color: getColor('pure-white');
        margin: 0 auto;
        max-width: 1600px;
    }
}


