@import '../utils/vars';
@import '../utils/fonts';

* img {
    display: block;
    max-width: 100%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
}

// MOBILE-VIEW
body {
    font-family: $primaryFont;
    background-color: getColor('pure-white');
    margin: 0 auto;
    max-width: 480px;
}

// TABLET-VIEW
@media (min-width: 768px) {
    body {
        font-family: $primaryFont;
        background-color: getColor('pure-white');
        margin: 0 auto;
        max-width: 768px;
    }
}

// DESKOP-VIEW
@media (min-width: 1200px) {
    body {
        font-family: $primaryFont;
        background-color: getColor('pure-white');
        margin: 0 auto;
        max-width: 1600px;
    }
}


