@import '../utils/vars';
@import '../utils/transition-style';

.header-contact {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: getColor('font-header-light');
    fill: getColor('icon-header');
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        color: getColor('font-link');
        text-decoration: none;
    
        &--active:hover,
        &--active:focus {
            fill: getColor('bg-active');
            color: getColor('font-active');
            transition: getAnimation('global-theme');
        }
    }
}