@import '../utils/vars';
@import '../utils/transition-style';
@import '../utils/mixins';
@import '../utils/display-types';

// MIN-VIEW-PORT
@media (min-width: $min-view) {
    .header-contact {
        display: none;
    }
}

// MOBILE-VIEW
@media (min-width: $mobile) {
    .header-contact {
        display: none;
    }
}

// TABLET-VIEW
@media (min-width: $tablet) {
    .header-contact {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: getColor('medium-grey');
        fill: getColor('medium-grey');
        font-weight: 500;
        font-size: 12px;
        // line-height: 1.14;
        letter-spacing: 0.02em;
        list-style-type: none;
    
        &__link {
            display: flex;
            align-items: center;
            gap: 8px;
            color: getColor('font-link');
            text-decoration: none;
        
            &--active:hover,
            &--active:focus {
                @include link-active;
            }
        }
    }
}

// DESKOP-VIEW
@media (min-width: $deskop) {
    .header-contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        color: getColor('medium-grey');
        fill: getColor('medium-grey');
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        list-style-type: none;

        &__link {
            display: flex;
            align-items: center;
            gap: 10px;
            color: getColor('font-link');
            text-decoration: none;
        
            &--active:hover,
            &--active:focus {
                @include link-active;
            }
        }
    }
}