@import '../utils/display-types';

// MIN-VIEW-PORT
// MOBILE
@media (min-width: $min-view) {
    .header-bar-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 16px 0 16px 15px;
    }
}

// TABLET-VIEW
@media (min-width: $tablet) {
    .header-bar-wrapper {
        height: 80px;
        padding: 21px 15px 21px 15px;
    }
}

// DESKOP-VIEW
@media (min-width: $deskop) {
    .header-bar-wrapper {
        padding: 24px 27px 25px 15px;
    }
}
