// MOBILE
.header-bar-wrapper {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 276;
    height: 60px;
    padding: 16px 0 16px 15px;
    }

// TABLET-VIEW
@media (min-width: 768px) {
    .header-bar-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 21px 15px 21px 15px;
    }
}

// DESKOP-VIEW
@media (min-width: 1200px) {
    .header-bar-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 24px 27px 25px 15px;
    }
  }
