@import '../utils/vars';
@import '../utils/borders-styles';
@import '../utils/transition-style';

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: getColor('bg-btn-modal-close');
    border: getB('b-btn-modal-close');
    border-radius: getBr('br-btn-modal-close');

    &__icon {
        width: 100%;
        height: 100%;
        border-radius: getBr('br-btn-modal-close');
    }

    &--active:hover,
    &--active:focus {
        outline: none;
        background-color: getColor('bg-active');
        fill: getColor('icon-btn-modal-close-active');
        transition: getAnimation('global-theme');
        cursor: pointer;
    }
}
