@import '../utils/vars';
@import '../utils/borders-styles';
@import '../utils/transition-style';
@import '../utils/mixins';


// SMARPHONE-VIEW
.modal-form {
    position: absolute;
    top: 75px;
    left: 40px;
    width: 448px;
    height: 342px;

    &--display {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.01em;
        color: getColor('medium-grey');
        cursor: default;
    }
    
    &__input {
        width: 100%;
        height: 40px;
        border: getB('b-light-black');
        border-radius: getBr('br-thick');
        padding: 0 12px 0 42px;
        margin: 4px 0 10px 0;

        &--active:hover,
        &--active:focus {
            @include form-active;
        
            &:hover + .modal-form__icon,
            &:focus + .modal-form__icon {
                @include link-active
            }
        }
    }

    &__textarea {
        @extend .modal-form__input;
        height: 120px;
        margin-top: 4px;
        padding: 12px 16px 12px 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        resize: none;
    
        &::placeholder {
            color: getColor('medium-grey');
        }
    }
    
    &__icon {
        position: absolute;
        left: 12px;
    
        &--person {
        top: 29px;
        }
    
        &--phone {
        top: 97px;
        }
    
        &--email {
        top: 165px;
        }
    }
    
    &__regulation-agree-label {
        position: absolute;
        top: calc(342px + 20px);
        left: 39px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: getColor('medium-grey');
    }
    
    &__link {
        color: getColor('global-blue');

        &--position {
        position: absolute;
        top: 367px;
        left: 15px;
        }
    }

    &__checkbox {
        width: 16px;
        height: 15px;
        z-index: 2;
        opacity: 0;
    

        &--position {
            position: absolute;
            top: 367px;
            left: 15px;
        }

        &--empty {
            z-index: 0;
            opacity: 1;
        }
        
        &--blue {    
            z-index: 1;
            opacity: 0;
        }      

        &:checked + &--blue {
            opacity: 1;
        }
        
        &:hover {
            transition: getAnimation('global-theme');
            cursor: pointer;
        }
    }
}


// TABLET-VIEW
@media (min-width: 768px) {

}

// DESKOP-VIEW
@media (min-width: 1200px) {
    .modal-form {
        position: absolute;
        top: 75px;
        left: 40px;
        width: 448px;
        height: 342px;

        &--display {
            display: flex;
            flex-direction: column;
        }

        &__label {
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 0.01em;
            color: getColor('medium-grey');
            cursor: default;
        }
        
        &__input {
            width: 100%;
            height: 40px;
            border: getB('b-light-black');
            border-radius: getBr('br-thick');
            padding: 0 12px 0 42px;
            margin: 4px 0 10px 0;

            &--active:hover,
            &--active:focus {
                @include form-active;
            
                &:hover + .modal-form__icon,
                &:focus + .modal-form__icon {
                    @include link-active
                }
            }
        }

        &__textarea {
            @extend .modal-form__input;
            height: 120px;
            margin-top: 4px;
            padding: 12px 16px 12px 16px;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
            resize: none;
        
            &::placeholder {
                color: getColor('medium-grey');
            }
        }
        
        &__icon {
            position: absolute;
            left: 12px;
        
            &--person {
            top: 29px;
            }
        
            &--phone {
            top: 97px;
            }
        
            &--email {
            top: 165px;
            }
        }
        
        &__regulation-agree-label {
            position: absolute;
            top: calc(342px + 20px);
            left: 39px;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: getColor('medium-grey');
        }
        
        &__link {
            color: getColor('global-blue');

            &--position {
            position: absolute;
            top: 367px;
            left: 15px;
            }
        }

        &__checkbox {
            width: 16px;
            height: 15px;
            z-index: 2;
            opacity: 0;
        

            &--position {
                position: absolute;
                top: 367px;
                left: 15px;
            }

            &--empty {
                z-index: 0;
                opacity: 1;
            }
            
            &--blue {    
                z-index: 1;
                opacity: 0;
            }      

            &:checked + &--blue {
                opacity: 1;
            }
            
            &:hover {
                transition: getAnimation('global-theme');
                cursor: pointer;
            }
        }
    }
}