@import '../utils/vars';
@import '../utils/borders-styles';
@import '../utils/transition-style';
@import '../utils/mixins';



.newsletter-theme {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 78px;

    &__label {
        @include footer-headings;    
        cursor: pointer;    
    }
    
    &__form {
        display: flex;
        gap: 12px;
    }
    
    &__input {
        padding: 15px 16px 15px 16px;
        width: 358px;
        height: 50px;
        background: getColor('dark-grey');
        border: getB('b-light-grey');
        border-radius: getBr('br-thick');
        caret-color: getColor('pure-white');
        color: getColor('pure-white');
    
        &--active:hover,
        &--active:focus {
            @include form-active;
            box-shadow: getBs('bs-thick-black');
        }
    }

    &__btn {
        position: relative;
    }
    
    &__icon {
        position: absolute;
        top: 13px;
        left: 148px;
        fill: getColor('pure-white');
    }
}