@import '../utils/vars';
@import '../utils/borders-styles';
@import '../utils/transition-style';

.portfolio-section-no-1 {

    &__list {
        display: flex;
        justify-content: center;
        gap: 8px;
        padding-top: 94px;
        list-style-type: none;
    }

    &__btn {
        padding: 6px 22px;
        text-align: center;
        background-color: getColor('dirty-white');
        border: none;
        border-radius: getBr('br-thick');
        font-weight: 500;
        line-height: 1.625;        
        letter-spacing: 0.03em;
        color: getColor('light-black');
        cursor: pointer;

        &--active:hover,
        &--active:focus {
            background-color: getColor('global-blue');
            color: getColor('pure-white');
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            transition: getAnimation('global-theme');
        }
    }
}