@import '../utils/borders-styles';
@import '../utils/transition-style';
@import '../utils/display-types';

.portfolio-section-no-2 {

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 50px 15px 0 15px;
        list-style-type: none;
    }

    &__item--active:hover,
    &__item--active:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: getAnimation('global-theme');
        cursor: pointer;

        & .project__link--active,
        & .project__link--active {
            transform: translateY(-100%);
        }
    }
}