@import '../utils/vars';
@import '../utils/borders-styles';
@import '../utils/display-types';

.project-title {
    padding: 24px 20px 20px 20px;
    border-right: getB('b-light-dirty-white');
    border-bottom: getB('b-light-dirty-white');
    border-left: getB('b-light-dirty-white');

    &__heading {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: getColor('light-black');
        text-decoration: none;
    }

    &__type {
        line-height: 1.875;
        letter-spacing: 0.03em;
        color: getColor('medium-grey');
    }
}