@import '../utils/display-types';

// // MIN-VIEW-PORT
@media (min-width: $min-view) {
    .section {
        padding-bottom: 30px;

        &--mobile-display {
            padding: 0;
        }
    }
}

// MOBILE-VIEW
// TABLET-VIEW
@media (min-width: $mobile) {
    .section {
        padding-bottom: 60px;

        &--mobile-display {
            padding: 0;
        }
    }
}

// DESKOP-VIEW
@media (min-width: $deskop) {
    .section {
        padding-bottom: 94px;
    }
  }