@import '../utils/vars';
@import '../utils/borders-styles';
@import '../utils/display-types';

// MIN-VIEW-PORT
@media (min-width: $min-view) {
    .section-no-4 {
        background-color: getColor('dirty-white');
    
        &__heading {
            text-align: center;
            padding: 60px 58px 30px 58px;
            font-weight: 700;
            font-size: 28px;
            line-height: 1.179;
            letter-spacing: 0.03em;
            color: getColor('light-black');
        }
    
        &__list {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: space-between;
            gap: 30px;
            padding: 0px 15px 0 15px;
            list-style-type: none;
        }
        
        &__item {
            height: 100%;
            background: getColor('pure-white');
            border-radius: getBs('br-thick');
            box-shadow: getBs('bs-global');     
        }
    
        &__text-wrapper {
            padding-top: 30px;
            text-align: center;
            font-size: 16px;
            line-height: 1.188;
            letter-spacing: 0.03em;
        }
        
        &__team-member-name {
            margin-bottom: 10px;
            font-weight: 500;
            color: getColor('light-black');
        }
        
        &__team-member-profession {
            font-weight: 400;
            color: getColor('medium-grey');
        }
    }
}

// MOBILE-VIEW
@media (min-width: $mobile) {
    .section-no-4 {

        &__heading {
            padding: 60px 158px 30px 158px;
        }
    }
}

// TABLET-VIEW
@media (min-width: $tablet) {
    .section-no-4 {

        &__heading {
            padding: 60px 302px 30px 302px;
            font-size: 28px;
            line-height: 1.16;
        }

        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
        }
    }
}

// DESKOP-VIEW
@media (min-width: $deskop) {
    .section-no-4 {

        &__heading {
            padding: 94px 15px 50px 15px;
            font-size: 36px;
            line-height: 1.16;
        }

        &__list {
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: space-between;
            align-content: center;
        }
    }
}