@import '../utils/vars';
@import '../utils/borders-styles';
@import '../utils/display-types';

// MIN-VIEW-PORT
@media (min-width: $min-view) {
    .section-no-2 {

        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px 0 10px;
            list-style: none;

        }

        &__icon {
            padding: 25px 0px 25px 117px;
            margin-bottom: 30px;
            width: 300px;
            height: 120px;
            background-color: getColor('dirty-white');
            border-radius: getBr('br-thick');

        }

        &__text-wrapper {
            margin-bottom: 30px;
            width: 300px;
            font-size: 14px;
            letter-spacing: 0.03em;
        }

        &__heading {
            margin-bottom: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1.143;
            color: getColor('light-black');
        }

        &__paragraph {
            font-weight: 400;
            line-height: 1.71;
            color: getColor('medium-grey');
        }
    }
}

// MOBILE-VIEW
@media (min-width: $mobile) {
    .section-no-2 {

        &__list {
            padding: 0 15px 0 15px;
        }

        &__icon {
            padding: 25px 190px;
            width: 450px;
        }

        &__text-wrapper {
            width: 450px;
        }
    }
}

// TABLET-VIEW
@media (min-width: $tablet) {
    .section-no-2 {

        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
            padding: 0 15px 0 15px;
        }

        &__icon {
            padding: 25px 142px;
            width: 354px;
        }

        &__text-wrapper {
            margin-bottom: 0;
            width: 354px;
        }

        &__heading {
            text-align: left;
        }
    }
}

// DESKOP-VIEW
@media (min-width: $deskop) {
    .section-no-2 {

        &__list {
            flex-direction: row;
            padding: 0 15px 0 15px;
        }

        &__icon {
            padding: 25px 100px;
            margin-bottom: 30px;
            width: 270px;
        }

        &__text-wrapper {
            margin-bottom: 0;
            width: 270px;
        }

        &__heading {
            text-align: left;
        }
    }
}