@import '../utils/vars';
@import '../utils/mixins';

.social-container {

    &__heading {
        @include footer-headings;
        margin-bottom: 20px;
    }

    &__wrapper {
        display: flex;

        &--section-no-4-style {
            justify-content: space-between;
            padding: 16px 32px 18px 32px;
        }
        
        &--footer-display {
            display: flex;
            flex-direction: column;
        }
        
        &--footer-style {
            gap: 10px;
            list-style-type: none;
        }
    }
}
