@import '../utils/vars';
@import '../utils/mixins';
@import '../utils/display-types';

// MIN-VIEW-PORT
@media (min-width: $min-view) {
    .social-container {

        &__heading {
            @include footer-headings;
            margin-bottom: 20px;
        }

        &__wrapper {
            display: flex;

            &--section-no-4-style {
                justify-content: center;
                padding: 16px 0px 24px 0px;
                gap: 10px;
            }
            
            &--footer-display {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            &--footer-style {
                gap: 10px;
                list-style-type: none;
            }
        }
    }
}

// MOBILE-VIEW
@media (min-width: $mobile) {
    .social-container {

        &__wrapper {

            &--section-no-4-style {
                justify-content: space-between;
                padding: 16px 122px 24px 122px;
            }
        }
    }
}

// TABLET-VIEW
@media (min-width: $tablet) {
    .social-container {

        &__wrapper {

            &--section-no-4-style {
                justify-content: space-between;
                padding: 16px 74px 24px 74px;
            }
        }
    }
}

// DESKOP-VIEW
@media (min-width: $deskop) {
    .social-container {

        &__wrapper {

            &--section-no-4-style {
                justify-content: space-between;
                padding: 16px 32px 30px 32px;
            }
        }
    }
}
