@import '../utils/vars';
@import '../utils/borders-styles';
@import '../utils/transition-style';

.social-icon {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: getBr('br-social');

    &--section-no-4-color {
        fill: getColor('icon-social');
    }

    &--footer-theme {
        fill: getColor('icon-footer');
        background-color: getColor('bg-social');
        border-radius: getBr('br-social');
    }

    &--active:hover,
    &--active:focus {
        fill: getColor('icon-social-active');
        background-color: getColor('bg-active');
        border-radius: getBr('br-social');
        transition: getAnimation('global-theme');
    }
}