@import '../utils/vars';
@import '../utils/borders-styles';
@import '../utils/transition-style';
@import '../utils/mixins';

// MIN-VIEW-PORT
// MOBILE-VIEW
// TABLET-VIEW
// DESKOP-VIEW
.social-icon {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: getBr('br-round');

    &--section-no-4-color {
        fill: getColor('chill-grey');
    }

    &--footer-theme {
        fill: getColor('pure-white');
        background-color: #ffffff1a;
    }

    &--active:hover,
    &--active:focus {
        fill: getColor('pure-white');
        background-color: getColor('global-blue');
        border-radius: getBr('br-round');
        transition: getAnimation('global-theme');
    }
}