@import '../utils/fonts';

// MOBILE-VIEW
.web-title {
    font-family: $secondFont;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.67;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;

    &--header-margin {
        margin-right: 0;
    }
    
    &--header-color {
        color: getColor('dark-black');
    }

    &--footer-color {
        color: getColor('pure-white');
    }
}

// TABLET-VIEW
@media (min-width: 768px) {
    .web-title {
        font-family: $secondFont;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.67;
        letter-spacing: 0.03em;
        color: #2196F3;
        text-decoration: none;
    
        &--header-margin {
            margin-right: 83px;
        }
        
        &--header-color {
            color: getColor('dark-black');
        }
    
        &--footer-color {
            color: getColor('pure-white');
        }
    }
}

// DESKOP-VIEW
@media (min-width: 1200px) {
    .web-title {
        font-family: $secondFont;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #2196F3;
        text-decoration: none;

        &--header-margin {
            margin-right: 93px;
        }
        
        &--header-color {
            color: getColor('dark-black');
        }

        &--footer-color {
            color: getColor('pure-white');
        }
    }
}