// SIMPLIFIED VARS
// BORDER STYLES
$border-style: (
    'b-light-dirty-white': 1px solid #ECECEC,
    'b-light-grey': 1px solid #AFB1B8,
    'b-light-black': 1px solid #21212133,
    'b-light-blue': 1px solid #2196F3,
    'b-bold-blue': 4px solid #2196f3,
);

// BORDER RADIUS TYPES
$border-radius: (
    'br-lite': 2px,
    'br-thick': 4px,
    'br-round': 50%,
);

// SHADOWS STYLES
$box-shadows: (
    'bs-global': (0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2)),
    'bs-thick-black': 0px 4px 4px #00000026,
);

@function getB($key) {
    @return map-get($border-style, $key);
}

@function getBr($key) {
    @return map-get($border-radius, $key);
}

@function getBs($key) {
    @return map-get($box-shadows, $key);
}

